
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Alert";
}

<div class="container d-flex ">
    <!--h-100 -->
    <div class="my-auto-top">
        <div class="row">
            <div class="col-md-12" style=" float: none; margin: 0 auto;">
                <div id="ai_5b5e3c31eb542" class="adioma-embed-infographic" style="text-align:center;">
                    <svg class="visualization" viewBox="0 0 2145 1457" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="80%">
                    <defs id="main-defs"></defs>
                    <style type="text/css">
                        a.svg-link .node:hover {
                            opacity: 0.85;
                        }

                        a.svg-link {
                            text-decoration: none;
                        }

                        a.svg-nolink {
                            text-decoration: none;
                        }
</style>
                    <filter id="icon-filter">
                    <feColorMatrix in="SourceGraphic" color-interpolation-filters="sRGB" type="matrix" values="0 0 0 0 0.45098039215686275    0 0 0 0 0.45098039215686275    0 0 0 0 0.6196078431372549    0 0 0 1 0"></feColorMatrix>
                        </filter>
                    <rect class="visualization-background" x="0" y="0" width="2145" height="1457" style="fill: #fff;"></rect>
                    <g class="grids">
                    <g class="grids-horizontal"></g>
                    <g class="grids-vertical"></g>
                        </g>
                    <text class="visualization-title" x="1072.5" y="150" text-anchor="middle" font-size="72px" font-family="Arimo" width="2045" style="fill: rgb(126, 124, 166);">
                    <tspan> Configure Alerts and SLAs</tspan>
                        </text>
                    <text class="visualization-subtitle" x="1072.5" y="204" text-anchor="middle" font-size="36px" font-family="Arimo" width="2045" style="fill: rgb(126, 124, 166); opacity: 0.6;">
                    <tspan></tspan>
                        </text>
                    <text class="visualization-creator" x="2095" width="850" text-anchor="end" font-size="23.400000000000002px" font-family="Roboto" y="239" style="opacity: 0.45; fill: rgb(126, 124, 166);">
                    <tspan></tspan>
                        </text>
                    <text class="visualization-author" x="2130" y="1407" width="1995" text-anchor="end" font-size="21.599999999999998px" font-family="Roboto" style="opacity: 0.6; fill: rgb(126, 124, 166);">
                    <tspan></tspan>
                        </text>
                    <g class="content" width="2045" height="1407">
                    <g class="children-nodes"></g>
                    <a class="svg-nolink" id="xlink-1532822632787" data-id="1532822632787">
                    <g class="node-1" data-index="0" data-id="1532822632787">
                    <path class="node-connector" fill="none" stroke-width="5" d="M395,347C395,549.5 395,549.5 395,752" style="stroke: rgb(222, 181, 153);"></path>
                    <circle r="10" cx="395" cy="549.5" style="fill: rgb(170, 165, 199);"></circle>
                    <image class="icon" width="150" height="100" filter="url(#icon-filter)" x="195" y="417" xlink:href="~/Content/Images/Admin/Configure/Alerts/communication-between-two-people.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="282.5" y="522" style="fill: rgb(126, 124, 166);">
                    <tspan x="282.5" dy="33.6">Select</tspan>
                    <tspan x="282.5" dy="44.8">Workflow</tspan>
                                    </text>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532821972934" data-id="1532821972934">
                    <g class="node-1" data-index="1" data-id="1532821972934">
                    <path class="node-connector" fill="none" stroke-width="5" d="M395,752C395,954.5 395,954.5 395,1157" style="stroke: rgb(222, 181, 153);"></path>
                    <circle r="10" cx="395" cy="954.5" style="fill: rgb(170, 165, 199);"></circle>
                    <image class="icon" width="150" height="100" filter="url(#icon-filter)" x="195" y="822" xlink:href="~/Content/Images/Admin/Configure/Alerts/tablet.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="282.5" y="927" style="fill: rgb(126, 124, 166);">
                    <tspan x="282.5" dy="33.6">Select</tspan>
                    <tspan x="282.5" dy="44.8">Options</tspan>
                                    </text>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532821972935" data-id="1532821972935">
                    <g class="node" data-index="2" data-id="1532821972935">
                    <path class="node-connector" fill="none" stroke-width="3" d="M404,954.5C404,954.5 657.5,954.5 657.5,954.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="582.5" y="802" xlink:href="~/Content/Images/Admin/Configure/Alerts/data-transfer.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification','Email Notifications','80','80', false, '', false)"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="657.5" y="977" style="fill: rgb(126, 124, 166);">
                    <tspan x="657.5" dy="33.6">Alerts</tspan>
                                    </text>
                    <circle r="10" cx="657.5" cy="954.5" style="fill: rgb(170, 165, 199);" class="circleIcon" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification','Email Notifications','80','80', false, '', false)"></circle>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532821972936" data-id="1532821972936">
                    <g class="node" data-index="3" data-id="1532821972936">
                    <path class="node-connector" fill="none" stroke-width="3" d="M1032.5,954.5C1032.5,954.5 666.5,954.5 666.5,954.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="957.5" y="802" xlink:href="~/Content/Images/Admin/Configure/Alerts/time-keeping.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=escalationrule','SLA Escalations','900px','600px','','')"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="1032.5" y="977" style="fill: rgb(126, 124, 166);">
                    <tspan x="1032.5" dy="33.6">SLAs</tspan>
                                    </text>
                    <circle r="10" cx="1032.5" cy="954.5" style="fill: rgb(170, 165, 199);" class="circleIcon" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=escalationrule','SLA Escalations','900px','600px','','')"></circle>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532822755864" data-id="1532822755864">
                    <g class="node" data-index="10" data-id="1532822755864">
                    <path class="node-connector" fill="none" stroke-width="3" d="M404,549.5C404,549.5 657.5,549.5 657.5,549.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="582.5" y="397" xlink:href="~/Content/Images/Admin/Configure/Alerts/save-technique.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);"  onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=TSR','Email Notifications','80','80', false, '', false)"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="657.5" y="572" style="fill: rgb(126, 124, 166);">
                    <tspan x="657.5" dy="33.6">Incident</tspan>
                                    </text>
                    <circle r="10" cx="657.5" cy="549.5" style="fill: rgb(170, 165, 199);" class="circleIcon" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=TSR','Email Notifications','80','80', false, '', false)" ></circle>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532822780356" data-id="1532822780356">
                    <g class="node" data-index="11" data-id="1532822780356">
                    <path class="node-connector" fill="none" stroke-width="3" d="M1032.5,549.5C1032.5,549.5 666.5,549.5 666.5,549.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="957.5" y="397" xlink:href="~/Content/Images/Admin/Configure/Alerts/patent-application.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);"onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=ACR','Email Notifications','80','80', false, '', false)"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="1032.5" y="572" style="fill: rgb(126, 124, 166);">
                    <tspan x="1032.5" dy="33.6">Change</tspan>
                    <tspan x="1032.5" dy="44.8">Request</tspan>
                                    </text>
                    <circle r="10" cx="1032.5" cy="549.5" style="fill: rgb(170, 165, 199);" class="circleIcon" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=ACR','Email Notifications','80','80', false, '', false)"></circle>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532822789306" data-id="1532822789306">
                    <g class="node" data-index="12" data-id="1532822789306">
                    <path class="node-connector" fill="none" stroke-width="3" d="M1407.5,549.5C1407.5,549.5 1041.5,549.5 1041.5,549.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="1332.5" y="397" xlink:href="~/Content/Images/Admin/Configure/Alerts/secure-server.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);" onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=DRQ','Email Notifications','80','80', false, '', false)"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="1407.5" y="572" style="fill: rgb(126, 124, 166);">
                    <tspan x="1407.5" dy="33.6">Change</tspan>
                    <tspan x="1407.5" dy="44.8">Control</tspan>
                                    </text>
                    <circle r="10" cx="1407.5" cy="549.5" style="fill: rgb(170, 165, 199);" class="circleIcon"  onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=DRQ','Email Notifications','80','80', false, '', false)"></circle>
                                </g>
                            </a>
                    <a class="svg-nolink" id="xlink-1532838984825" data-id="1532838984825">
                    <g class="node" data-index="13" data-id="1532838984825">
                    <path class="node-connector" fill="none" stroke-width="3" d="M1782.5,549.5C1782.5,549.5 1416.5,549.5 1416.5,549.5" style="stroke: rgb(222, 181, 153);"></path>
                    <image class="icon svgicon" width="150" height="100" filter="url(#icon-filter)" x="1707.5" y="397" xlink:href="~/Content/Images/Admin/Configure/Alerts/cause-trouble.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(115, 115, 158);"  onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=RCA','Email Notifications','80','80', false, '', false)"></image>
                    <text width="175" height="150" text-anchor="middle" line-height="44.8" font-size="33.599999999999994px" font-family="Arimo" x="1782.5" y="572" style="fill: rgb(126, 124, 166);">
                    <tspan x="1782.5" dy="33.6">Problem</tspan>
                    <tspan x="1782.5" dy="44.8">Analysis</tspan>
                                    </text>
                    <circle r="10" cx="1782.5" cy="549.5" style="fill: rgb(170, 165, 199);" class="circleIcon"  onclick="return Admin.loadModule('Alert','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=emailnotification&module=RCA','Email Notifications','80','80', false, '', false)"></circle>
                                </g>
                            </a>
                        </g>
                    <use width="494" height="125" x="125" y="1287" xlink:href="#watermark" style="fill: rgb(115, 115, 158);"></use>
                   
                    </svg>
                </div>

            </div>
        </div>
    </div>
</div>