
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Admin";
}

<div class="container d-flex ">
    <div class="jumbotron my-auto-top">
        <div class="row">
            <div class="col-md-12" style=" float: none; margin: 0 auto;">
                <div id="ai_5b5e3c0e085ae" class="adioma-embed-infographic" style="text-align:center;">
                    <svg class="visualization" viewBox="0 0 1340 1858.3333333333335" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="80%">
                    <defs id="main-defs"></defs>
                    <style type="text/css">
                        a.svg-link .node :hover {
                            opacity: 0.85;
                        }

                        a.svg-link {
                            text-decoration: none;
                        }

                        a.svg-nolink {
                            text-decoration: none;
                        }
                    </style>
               <!-- rect fill rgb(255, 251, 245); onMouseOver="this.style.cursor='pointer'"-->
                    <filter id="icon-filter">
                    <feColorMatrix in="SourceGraphic" color-interpolation-filters="sRGB" type="matrix" values="0 0 0 0 0.19215686274509805    0 0 0 0 0.24705882352941178    0 0 0 0 0.3568627450980392    0 0 0 1 0"></feColorMatrix>
                    </filter>
                    <rect class="visualization-background" x="0" y="0" width="1340" height="1858.3333333333335" style="fill: #fff"></rect>
                    <g class="grids">
                    <g class="grids-horizontal"></g>
                    <g class="grids-vertical"></g>
                    </g>
                    <text class="visualization-title" x="670" y="150" text-anchor="middle" font-size="72px" font-family="Merriweather" width="1140" style="fill: rgb(120, 89, 50);">
                    <tspan>Configuring Service</tspan>
               </text>
                    <text class="visualization-subtitle" x="670" y="204" text-anchor="middle" font-size="36px" font-family="Roboto" width="1140" style="fill: rgb(120, 89, 50); opacity: 0.6;">
                    <tspan>Self-Service Configuration and Support Based Configuration</tspan>
               </text>
                    <text class="visualization-creator" x="1240" width="850" text-anchor="end" font-size="23.400000000000002px" font-family="Roboto" y="239" style="opacity: 0.45; fill: rgb(120, 89, 50);">
                    <tspan></tspan>
               </text>
                    <text class="visualization-author" x="1275" y="1808.3333333333335" width="1090" text-anchor="end" font-size="21.599999999999998px" font-family="Roboto" style="opacity: 0.6; fill: rgb(120, 89, 50);">
                    <tspan></tspan>
               </text>
                   <g class="content" width="1140" height="1458.3333333333335">
                      <a class="svg-nolink" id="xlink-1502146981939" data-id="1502146981939">
                          <g class="node" data-index="0" data-id="1502146981939">
                            <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="486.66666666666663" y="300" xlink:href="~/Content/Images/Admin/configure/35-schoolboy.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                            <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="453.3333333333333" y="350" style="fill: rgb(120, 89, 50);">
                                <tspan dy="-2" font-size="30px" font-family="Roboto" style="font-weight: bold;">Self-Service</tspan><tspan x="453.3333333333333" dy="32"></tspan>
                            </text>
                            <path class="node-connector" fill="none" stroke-width="3" d="" style="stroke: rgb(181, 155, 112);"></path>
                            <circle r="16.666666666666664" cx="536.6666666666666" cy="441.6666666666667" style="fill: rgb(206, 137, 46);"></circle>
                         </g>
                      </a>
                    <a class="svg-nolink" id="xlink-1502146981940" data-id="1502146981940">
                        <g class="node" data-index="1" data-id="1502146981940">
                        <image class="icon iconhover" id="iconhover1" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="558.3333333333334"  onclick="getTab('Workflows')" xlink:href="~/Content/Images/Admin/configure/shared.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="608.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-18" font-size="30px" font-family="Roboto" style="font-weight: bold;">Workflows</tspan>
                            <tspan x="316.66666666666663" dy="32">User Admins xelects the</tspan>
                            <tspan x="316.66666666666663" dy="32">workflows to use (B1)</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 536.6666666666666 458.33333333333337 l 0 66.49999999999999 q 0 33.333333333333336 -33.333333333333336 33.333333333333336 l -186.66666666666663 0 q -33.333333333333336 0 -33.333333333333336 33.333333333333336 l 0 33.333333333333336" style="stroke: rgb(181, 155, 112);"></path>
                        <a  target="_self" role="button"><circle r="10" id="mycircle1" onclick="getTab('Workflows')" cx="283.3333333333333" cy="608.3333333333334" style="fill: rgba(177, 219, 210, 1);"></circle></a>
                      </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502146911002" data-id="1502146911002">
                      <g class="node" data-index="2" data-id="1502146911002">
                        <image class="icon iconhover" id="iconhover2" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="708.3333333333334" onclick="getTab('RequestList')" xlink:href="~/Content/Images/Admin/configure/todolist.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="758.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Request Lists</tspan>
                            <tspan x="316.66666666666663" dy="32">User Admins can add,</tspan>
                            <tspan x="316.66666666666663" dy="32">delete or modify request</tspan>
                            <tspan x="316.66666666666663" dy="32">types  (B2)</tspan>
                        </text>
                        <path id="p1" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 768.3333333333334 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <a target="_self" role="button"><circle r="10" id="mycircle2" onclick="getTab('RequestList')" cx="283.3333333333333" cy="758.3333333333334" style="fill: rgba(130, 184, 172, 1);"></circle></a>
                     </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502153802577" data-id="1502153802577">
                        <g class="node" data-index="3" data-id="1502153802577">
                        <image class="icon iconhover" id="iconhover3" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="858.3333333333334"  xlink:href="~/Content/Images/Admin/configure/book-opened.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="908.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Reports</tspan>
                            <tspan x="316.66666666666663" dy="32">User Admins can</tspan>
                            <tspan x="316.66666666666663" dy="32">configure and customize</tspan>
                            <tspan x="316.66666666666663" dy="32">reports (B3)</tspan>
                        </text>
                        <path id="p2" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 918.3333333333334 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <a  target="_self" role="button"><circle r="10" id="mycircle3" cx="283.3333333333333" cy="908.3333333333334" onclick="getTab('Reports')"style="fill: rgba(62, 148, 129, 1);"></circle></a>
                        </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502240642757" data-id="1502240642757">
                      <g class="node" data-index="4" data-id="1502240642757">
                        <image class="icon iconhover" id="iconhover4" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="1008.3333333333334" onclick="getTab('Dashboards')" xlink:href="~/Content/Images/Admin/configure/portfolio-icon.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                            <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="1058.3333333333335" style="fill: rgb(120, 89, 50);">
                                <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Dashboards</tspan>
                                <tspan x="316.66666666666663" dy="32">User Admins can</tspan>
                                <tspan x="316.66666666666663" dy="32">configure and customize</tspan>
                                <tspan x="316.66666666666663" dy="32">dashboards (B4)</tspan>
                            </text>
                        <path id="p3" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 1068.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <a target="_self" role="button">
                        <circle r="10" id="mycircle4"onclick="getTab('Dashboards')" cx="283.3333333333333" cy="1058.3333333333335" style="fill: rgba(41, 99, 86, 1);"></circle></a>
                      </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502240700162" data-id="1502240700162">
                        <g class="node" data-index="5" data-id="1502240700162">
                        <image class="icon iconhover" id="iconhover5" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="1158.3333333333335" xlink:href="~/Content/Images/Admin/configure/crowd.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="1208.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">User Groups</tspan>
                            <tspan x="316.66666666666663" dy="32">User Admins can</tspan>
                            <tspan x="316.66666666666663" dy="32">configure and customize</tspan>
                            <tspan x="316.66666666666663" dy="32">user groups (B5)</tspan>
                         </text>
                        <path id="p4" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 1218.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <a  target="_self" role="button"><circle r="10" id="mycircle5" cx="283.3333333333333" cy="1208.3333333333335" style="fill: rgba(110, 164, 202, 1);"></circle></a>
                        </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502240800539" data-id="1502240800539">
                        <g class="node" data-index="6" data-id="1502240800539">
                            <image class="icon iconhover" id="iconhover6" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="1308.3333333333335" onclick="getTab('FlowControl')" xlink:href="~/Content/Images/Admin/configure/communication-between-two-people.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                            <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="1358.3333333333335" style="fill: rgb(120, 89, 50);">
                                <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Flow Control</tspan>
                                <tspan x="316.66666666666663" dy="32">User Admins can</tspan>
                                <tspan x="316.66666666666663" dy="32">configure and customize</tspan>
                                <tspan x="316.66666666666663" dy="32">the workflows (B6)</tspan>
                            </text>
                            <path id="p5" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 1368.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                            <a target="_self" role="button"><circle r="10" id="mycircle6"  onclick="getTab('FlowControl')" cx="283.3333333333333" cy="1358.3333333333335" style="fill: rgba(57, 114, 155, 1);"></circle></a>
                      </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1532737571973" data-id="1532737571973">
                        <g class="node" data-index="7" data-id="1532737571973">
                        <image class="icon iconhover" id="iconhover7" width="100" height="100" filter="url(#icon-filter)" x="149.99999999999994" y="1458.3333333333335" xlink:href="~/Content/Images/Admin/configure/mail-delivery.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="316.66666666666663" y="1508.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Alerts</tspan>
                            <tspan x="316.66666666666663" dy="32">User Admins can </tspan>
                            <tspan x="316.66666666666663" dy="32">customize e-Mail</tspan>
                            <tspan x="316.66666666666663" dy="32">notifications/SLAs (B7)</tspan>
                        </text>
                        <path id="p6" class="node-connector" fill="none" stroke-width="3" d="M 283.3333333333333 1518.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <a target="_self" role="button"><circle r="10" id="mycircle7" cx="283.3333333333333" cy="1508.3333333333335" style="fill: rgba(12, 60, 96, 1);"></circle></a>
                      </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502146981943" data-id="1502146981943">
                        <g class="node" data-index="8" data-id="1502146981943">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="753.3333333333334" y="300" xlink:href="~/Content/Images/Admin/configure/community.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                            <text width="270" height="130" text-anchor="start" line-height="32" font-size="24px" font-family="Roboto" x="886.6666666666667" y="350" style="fill: rgb(120, 89, 50);">
                                <tspan dy="-2" font-size="30px" font-family="Roboto" style="font-weight: bold;">Support Based</tspan>
                                <tspan x="886.6666666666667" dy="32"></tspan>
                            </text>
                            <path class="node-connector" fill="none" stroke-width="3" d="" style="stroke: rgb(181, 155, 112);"></path>
                            <circle r="16.666666666666664" cx="803.3333333333334" cy="441.6666666666667" style="fill: rgb(206, 137, 46);"></circle>
                       </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1502146910999" data-id="1502146910999">
                        <g class="node" data-index="9" data-id="1502146910999">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="558.3333333333334" xlink:href="~/Content/Images/Admin/configure/conference-talk.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="608.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-18" font-size="30px" font-family="Roboto" style="font-weight: bold;">Training</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our team will provide you</tspan>
                            <tspan x="1023.3333333333334" dy="32">web and on-site training</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 803.3333333333334 458.33333333333337 l 0 66.49999999999999 q 0 33.333333333333336 33.333333333333336 33.333333333333336 l 186.66666666666663 0 q 33.333333333333336 0 33.333333333333336 33.333333333333336 l 0 33.333333333333336" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="608.3333333333334" style="fill: rgb(206, 137, 46);"></circle>
                       </g>
                  </a>
                    <a class="svg-nolink" id="xlink-1502146910998" data-id="1502146910998">
                        <g class="node" data-index="10" data-id="1502146910998">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="708.3333333333334" xlink:href="~/Content/Images/Admin/configure/diversity.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="758.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Import Users</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our team will help you</tspan>
                            <tspan x="1023.3333333333334" dy="32">with the user import</tspan>
                            <tspan x="1023.3333333333334" dy="32">process from AD</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 768.3333333333334 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="758.3333333333334" style="fill: rgb(206, 137, 46);"></circle>
                     </g>
                  </a>
                    <a class="svg-nolink" id="xlink-1502146910997" data-id="1502146910997">
                      <g class="node" data-index="11" data-id="1502146910997">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="858.3333333333334" xlink:href="~/Content/Images/Admin/configure/timeline.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="908.3333333333334" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Custom Workflows</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our team will help you</tspan>
                            <tspan x="1023.3333333333334" dy="32">develop custom</tspan>
                            <tspan x="1023.3333333333334" dy="32">workflows</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 918.3333333333334 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="908.3333333333334" style="fill: rgb(206, 137, 46);"></circle>
                    </g>
                  </a>
                    <a class="svg-nolink" id="xlink-1502240730561" data-id="1502240730561">
                        <g class="node" data-index="12" data-id="1502240730561">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="1008.3333333333334" xlink:href="~/Content/Images/Admin/configure/online-customer-service.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="1058.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Custom UI</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our team will help you</tspan>
                            <tspan x="1023.3333333333334" dy="32">customize the user</tspan>
                            <tspan x="1023.3333333333334" dy="32">experience</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 1068.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="1058.3333333333335" style="fill: rgb(206, 137, 46);"></circle>
                        </g>
                  </a>
                    <a class="svg-nolink" id="xlink-1502240732566" data-id="1502240732566">
                        <g class="node" data-index="13" data-id="1502240732566">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="1158.3333333333335" xlink:href="~/Content/Images/Admin/configure/mindmap.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="1208.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Integration</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our team will help you</tspan>
                            <tspan x="1023.3333333333334" dy="32">integrate with external</tspan>
                            <tspan x="1023.3333333333334" dy="32">systems</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 1218.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="1208.3333333333335" style="fill: rgb(206, 137, 46);"></circle>
                        </g>
                  </a>
                    <a class="svg-nolink" id="xlink-1532738148785" data-id="1532738148785">
                        <g class="node" data-index="16" data-id="1532738148785">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="1308.3333333333335" xlink:href="~/Content/Images/Admin/configure/work-life-balance.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="1358.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-18" font-size="30px" font-family="Roboto" style="font-weight: bold;">Governance</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our CIO team will help</tspan>
                            <tspan x="1023.3333333333334" dy="32">you with IT Governance</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 1368.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="1358.3333333333335" style="fill: rgb(206, 137, 46);"></circle>
                         </g>
                    </a>
                    <a class="svg-nolink" id="xlink-1532738191567" data-id="1532738191567">
                        <g class="node" data-index="17" data-id="1532738191567">
                        <image class="icon" width="100" height="100" filter="url(#icon-filter)" x="1090" y="1458.3333333333335" xlink:href="~/Content/Images/Admin/configure/gender.png" transform="matrix(1, 0, 0, 1, 0, 0)" style="opacity: 0.9; fill: rgb(49, 63, 91);"></image>
                        <text width="270" height="130" text-anchor="end" line-height="32" font-size="24px" font-family="Roboto" x="1023.3333333333334" y="1508.3333333333335" style="fill: rgb(120, 89, 50);">
                            <tspan dy="-34" font-size="30px" font-family="Roboto" style="font-weight: bold;">Custom Solutions</tspan>
                            <tspan x="1023.3333333333334" dy="32">Our 200+ developers will</tspan>
                            <tspan x="1023.3333333333334" dy="32">help you implement</tspan>
                            <tspan x="1023.3333333333334" dy="32">custom solutions</tspan>
                        </text>
                        <path class="node-connector" fill="none" stroke-width="3" d="M 1056.6666666666667 1518.3333333333335 l 0 -150" style="stroke: rgb(181, 155, 112);"></path>
                        <circle r="10" cx="1056.6666666666667" cy="1508.3333333333335" style="fill: rgb(206, 137, 46);"></circle>
                     </g>
                  </a>
               </g>
                    <use width="494" height="125" x="125" y="1688.3333333333335" xlink:href="#watermark" style="fill: rgb(49, 63, 91);"></use>
            </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    setTimeout(function () {
    //        var i;
    //        for (i = 1; i <= 7; i++) {
    //            $("#mycircle" + i).style.r = "20";
    //            $("#mycircle" + i).style.transitionDuration = "1s";
    //        }
    //        var dist = 768.3333333333334;
    //        for (i = 1; i <= 6; i++) {
    //            $("#p" + i).setAttribute("d", "M 283.3333333333333 " + dist + " l 0 -140");
    //            $("#p" + i).style.transitionDuration = "1s";
    //            dist = dist + 150;
    //        }
    //    }, 1000);
    //});
    
    window.onload = function () {
        setTimeout(function () {
            var i;
            for (i = 1; i <= 7; i++) {
                document.getElementById("mycircle" + i).style.r = "20";
                document.getElementById("mycircle" + i).style.transitionDuration = "1s";
            }
            var dist = 768.3333333333334;
            for (i = 1; i <= 6; i++) {
                document.getElementById("p" + i).setAttribute("d", "M 283.3333333333333 " + dist + " l 0 -140");
                document.getElementById("p" + i).style.transitionDuration = "1s";
                dist = dist + 150;
            }

        }, 1000);
    }
    function imageClick(url) {
        window.location = url;
    }

      //document.getElementsById("iconhover").style.fill="black";

</script>