

@{
    Layout = "~/Views/Shared/AdminLayouts.cshtml";
    ViewBag.Title = "Request List";
}

<div style="width:60%;display: block;margin: auto;">
    <p class="heading">Request Lists</p>
    <div style="width: 100%;float: left;">
        <div class="first-block">
            <div class="inner center-bullet" style="width: 150px;height:87px;float: left;padding: 40px 0px 0px;margin-top: 0px;float: left; border-right:2px solid rgb(222, 181, 153);">
                <img class="icon_size" src="~/Content/Images/Admin/Configure/RequestList/to-do-list-2.png" />
                <p class="icon_text" style="padding-top:5px;">Select Workflow</p>
            </div>

            <div id="mixedSlider">
                <div class="MS-content">
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/save-technique.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview&module=TSR','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">Incident (TSR)</p>
                    </div>
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/patent-application.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview&module=ACR','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text text-center">Change Request (ACR)</p>
                    </div>
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/secure-server.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview&module=DRQ','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text text-center">Change Control (DRQ)</p>

                    </div>
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/cause-trouble.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview&module=RCA','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">Problem Analysis (RCA)</p>

                    </div>
                </div>
                <div class="MS-controls">
                    <button class="MS-left"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                    <button class="MS-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;float: left;">
        <div class="second-block">
            <div class="inner center-bullet" style="width: 150px;height:87px;padding: 40px 0px 0px;margin-top: 0px;float: left; border-right:2px solid rgb(222, 181, 153);">
                <img class="icon_size" src="~/Content/Images/Admin/Configure/RequestList/list.png" />
                <p class="icon_text" style="padding-top:5px;">Show Existing Lists</p>
            </div>
            <div id="mixedSlider2">
                <div class="MS-content">

                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/copywriting.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">Edit</p>
                    </div>
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/edit-a-document.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/DelegateControl.aspx?control=modulecolumnsaddedit&module=ACR&moduleType=0','New Item','600px;','600px;','%2fLayouts%2fuGovernIT%2fuGovernITConfiguration.aspx','true')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">New</p>
                    </div>
                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/newsstand.png" />
                        <div class="line"><span></span></div>
                        <p class="icon_text text-center">Advanced Editing</p>
                    </div>
                </div>
                @*<div class="MS-controls">
                    <button class="MS-left"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                    <button class="MS-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                </div>*@
            </div>
        </div>
    </div>
    <div style="width: 100%;float: left;">
        <div class="third-block">
            <div class="inner center-bullet" style="width: 150px;height:87px;padding: 40px 0px 0px;margin-top: 0px;float: left; border-right:2px solid rgb(222, 181, 153);">
                <img class="icon_size" src="~/Content/Images/Admin/Configure/RequestList/exchange-shapes-icon.png" />
                <p class="icon_text" style="padding-top:5px;">Confirm Change</p>
            </div>
            <div id="mixedSlider3">
                <div class="MS-content">

                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/list.png" onclick="return Admin.loadModule('RequestLists','/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=modulecolumnsview','Request Lists','70','90','','')" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">Show Revised List</p>
                    </div>


                    <div class="item">
                        <img class="icon_size bar" src="~/Content/Images/Admin/Configure/RequestList/check-mark-alone.png" />
                        <div class="line"><span></span></div>
                        <p class="icon_text">Confirm and Update List</p>
                    </div>

                </div>
                @*<div class="MS-controls">
                    <button class="MS-left"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                    <button class="MS-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                </div>*@
            </div>
        </div>
    </div>
    </div>

