/uGovernIT.Web/bin
/uGovernIT.Web/obj
/uGovernIT.Utility/bin
/uGovernIT.Utility/obj
/uGovernIT.Manager/bin
/uGovernIT.Manager/obj
/uGovernIT.DAL/obj
/uGovernIT.DAL/bin
/packages
/uGovernITDefaults/UgovernITDefault/obj
/*.gitattributes
/uGovernITDefaults/UgovernITDefault/bin
/uGovernITDefaults/bin
/uGovernITDefaults/obj
/.vs/config/applicationhost.config
/uGovernITDatabase/bin
/uGovernITDatabase/obj
/uGovernITDatabase/uGovernITDatabase.sqlproj.user
/uGovernIT.Web/Web.config
/.vs
/uGovernITDatabase/uGovernITDatabase.jfm
/uGovernITDatabase/uGovernITDatabase.dbmdl
/Util/uGovernIT.Util.Cache/bin
/Util/uGovernIT.Util.Cache/obj
/Util/uGovernIT.Util.Cache/*.user
/Util/uGovernIT.Util.Log/obj
/Util/uGovernIT.Util.Log/bin
/Util/uGovernIT.Util.ImportExportMpp/obj
/Util/uGovernIT.Util.ImportExportMpp/bin
/uGovernIT.DefaultConfig/bin
/uGovernIT.DefaultConfig/obj
/uGovernIT.DMS/bin
/uGovernIT.DMS/obj
/uGovernIT.Report/bin
/uGovernIT.Report/obj
/uGovernIT.Web/DMSUploadedFiles
/uGovernITCommonDatabase/bin
/uGovernITCommonDatabase/obj
/uGovernITCommonDatabase/uGovernITCommonDatabase.sqlproj.user/uGovernIT.SuperAdmin/obj
/uGovernIT.SuperAdmin/bin
/Analytics/ITAnalytics/obj
/Analytics/ITAnalytics/bin
/Analytics/ITAnalyticsBL/bin
/Analytics/ITAnalyticsBL/obj
/Analytics/ITAnalyticsUtility/bin
/Analytics/ITAnalyticsUtility/obj
/Analytics/sLite/bin
/Analytics/sLite/obj
/Analytics/ITAnalytics/TempChart
/Analytics/ITAnalytics/_bin_deployableAssemblies
/Util/uGovernIT.DataTransfer/obj
/Util/uGovernIT.DataTransfer/bin
/Analytics/ITAnalytics
/uGovernITCommonDatabase
/uGovernIT.sln
/uGovernIT.Web/Assets/Thumb/32c85552df60db24a1ec486f2a479ec6
/Outlook.Addin/.angular/
/Outlook.Addin/node_modules/
/Outlook.Addin/dist/
*.config
*.licx
