
ALTER procedure [dbo].[usp_GetCommonDivisionChartData]
--exec usp_GetCommonDivisionChartData 'bcd2d0c9-9947-4a0b-9fbf-73ea61035069', '', '', 'Pipeline'
@tenantID nvarchar(max),
@sector nvarchar(max) = '',
@studio nvarchar(max) = '',
@filter nvarchar(max) = ''
as
begin

	declare @rewardedStage int;		set @rewardedStage = 0;		select @rewardedStage=stagestep from Config_Module_ModuleStages where StageTypeChoice = 'Resolved' and ModuleNameLookup='CPR' and TenantID=@tenantID

		if @filter = 'Contracted'	begin			Select * from (			Select CRMBusinessUnitChoice as Name ,count(distinct t.TicketId)ResourceCount,			(				Select count(TicketId) from CRMProject where StageStep > @rewardedStage - 1 and  Closed != 1 and TenantID=@tenantID and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice and
				( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'hotproject',			(				Select Sum(ApproxContractValue) ApproxContractValue  from(					Select round(ISNULL(sum(ApproxContractValue),0),2) ApproxContractValue from CRMProject where StageStep > @rewardedStage - 1 and  Closed != 1 and TenantID=@tenantID and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice and 					( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 					( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )					group by CRMBusinessUnitChoice			) t where 1=1) 'hotrevenue',			(				select count(1) from CRMProject where StageStep > @rewardedStage - 1 and  TenantID=@tenantID and Closed != 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'committedprojects',			(				select round(SUM(ApproxContractValue),2) from CRMProject where StageStep > @rewardedStage - 1 and  TenantID=@tenantID and Closed != 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  )  and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'committedrevenue',			(				select round(sum(ApproxContractValue),2) from CRMProject where StageStep > @rewardedStage - 1 and  TenantID=@tenantID and Closed = 1 and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'pastrevenue',			Round((sum(r.PctAllocation)/count(r.PctAllocation)),2) 'Utilization'			from (				Select TicketId, CRMBusinessUnitChoice from CRMProject where StageStep > @rewardedStage - 1 and Closed != 1 and TenantID=@tenantID				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			) t inner join ResourceAllocation r on r.TicketID=t.TicketId			inner join AspNetUsers u on r.ResourceUser = u.Id			inner join JobTitle jt on jt.ID = u.JobTitleLookup where JobType = 'Billable'			group by t.CRMBusinessUnitChoice			) anu where 1=1 and LEN(Name) > 0		End;	if @filter = 'Pipeline'	begin			Select * from (			Select CRMBusinessUnitChoice as Name ,count(distinct t.TicketId)ResourceCount,			(				Select sum(tt.cnt) from ( 				Select count(TicketId) cnt from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice and 				( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice				union all				Select count(TicketId) cnt from Opportunity where  TenantID=@tenantID and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice) tt 			) 'hotproject',			(				Select Sum(ApproxContractValue) ApproxContractValue  from(				Select round(ISNULL(sum(ApproxContractValue),0),2) ApproxContractValue from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID				and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice				union all				Select round(sum(isnull(ApproxContractValue,0)),2) ApproxContractValue from Opportunity where  TenantID=@tenantID				and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) t where 1=1) 'hotrevenue',			(select count(1) from CRMProject where TenantID=@tenantID and Closed != 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 			and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and			( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			group by CRMBusinessUnitChoice) 'committedprojects',			(select round(SUM(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed != 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 			and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 			( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			group by CRMBusinessUnitChoice) 'committedrevenue',			(select round(sum(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed = 1 and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 			and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and			( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			group by CRMBusinessUnitChoice) 'pastrevenue',			Round((sum(r.PctAllocation)/count(r.PctAllocation)),2) 'Utilization'			from (			Select TicketId, CRMBusinessUnitChoice from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID 			and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 			( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			union all			Select TicketId ,CRMBusinessUnitChoice from Opportunity where TenantID=@tenantID 			and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 			( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )			) t inner join ResourceAllocation r on r.TicketID=t.TicketId			inner join AspNetUsers u on r.ResourceUser = u.Id			inner join JobTitle jt on jt.ID = u.JobTitleLookup where JobType = 'Billable'			group by t.CRMBusinessUnitChoice			) anu where 1=1 and LEN(Name) > 0	End;	if @filter = 'Closed'	begin			Select * from (			Select CRMBusinessUnitChoice as Name ,count(distinct t.TicketId)ResourceCount,			(				Select count(TicketId) from CRMProject where Closed = 1 and TenantID=@tenantID and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice and
				( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'hotproject',			(				Select Sum(ApproxContractValue) ApproxContractValue  from(					Select round(ISNULL(sum(ApproxContractValue),0),2) ApproxContractValue from CRMProject where Closed = 1 and TenantID=@tenantID					and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice					and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 					( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )					group by CRMBusinessUnitChoice			) t where 1=1) 'hotrevenue',			(				select count(1) from CRMProject where TenantID=@tenantID and Closed = 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice 				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'committedprojects',			(				select round(SUM(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed = 1 and  CRMBusinessUnitChoice=t.CRMBusinessUnitChoice				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  )  and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'committedrevenue',			(				select round(sum(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed = 1 and CRMBusinessUnitChoice=t.CRMBusinessUnitChoice				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  )				group by CRMBusinessUnitChoice			) 'pastrevenue',			Round((sum(r.PctAllocation)/count(r.PctAllocation)),2) 'Utilization'			from (				Select TicketId, CRMBusinessUnitChoice from CRMProject where Closed = 1 and TenantID=@tenantID				and ( (LEN(@sector) > 0  AND SectorChoice=@sector )  OR (LEN(@sector) = 0  AND SectorChoice is not null)  ) and 				( (LEN(@studio) > 0  AND StudioChoice=@studio )  OR (LEN(@studio) = 0  AND StudioChoice is not null)  ) and				 CloseDate > DATEFROMPARTS(YEAR(GETDATE()), 1, 1)				--(CloseDate > GETDATE() or CloseDate is null)			) t inner join ResourceAllocation r on r.TicketID=t.TicketId			inner join AspNetUsers u on r.ResourceUser = u.Id			inner join JobTitle jt on jt.ID = u.JobTitleLookup where JobType = 'Billable'			group by t.CRMBusinessUnitChoice			) anu where 1=1 and LEN(Name) > 0	End;	
End;


