.dxpc-mainDiv {
    border-radius: 25px;
}

.dxpcLite_UGITGreenDevEx {
    width: 50% !important;
    left: 25% !important;
}

.imageClass {
    width: 51vw;
    height: 100vh;
}

.imageClass-1 {
    background-image: linear-gradient(#182D36 105%, #010102);
    height: 100vh;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.logo-img.header-logo {
    width: 30%;
    /*height: 30%;*/
    margin-top: 18%;
    margin-left: 36%;
}

@media only screen and (max-height: 800px) {
    .logo-img.header-logo {
        width: 30%;
        height: 30%;
        margin-top: 7%;
        margin-left: 36%;
    }

    .imageClass {
        width: 51vw;
        height: 100vh;
    }

    .imageClass-1 {
        background-image: linear-gradient(#182D36 105%, #010102);
        height: 100vh;
    }
}

@media only screen and (max-width: 991px) {
    .imageClass {
        width: 51vw;
        height: 100vh;
        display:none;
    }
}

label {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
}

.forgetPwdLink a {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: gray !important;
    text-decoration: underline;
}

.dxpc-headerText {
    font-family: 'Roboto', sans-serif !important;
    font-size: 25px !important;
}

.dxpc-headerContent {
    text-align: center;
}

.primary-LoginBtn {
    float: right;
    background: #6BA538 !important;
    color: #FFF;
    border-radius: 10px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
    padding: 5px 8px !important;
    width: auto !important;
}
.loginHeader {
    display: none;
}
.dxTheme-UGITGreenDevEx {
padding-top:0px !important;
}
body {
    overflow: hidden; /* Hide scrollbars */
}