
ALTER procedure [dbo].[usp_GetSectorSalesDetails]
--exec usp_GetSectorSalesDetails '35525396-E5FE-4692-9239-4DF9305B915B',12
@tenantID nvarchar(max),
@Division bigint
as
begin

declare @rewardedStage int;
set @rewardedStage = 0;
select @rewardedStage=stagestep from Config_Module_ModuleStages where StageTitle = 'Contract Award' and ModuleNameLookup='CPR' and TenantID=@tenantID

if @Division = 0
begin
	Select * from (
	Select SectorChoice as Name ,count(distinct t.TicketId)ResourceCount,
	(
		Select count(TicketId) from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID and SectorChoice=t.SectorChoice group by SectorChoice
		union all
		Select count(TicketId) from Opportunity where  TenantID=@tenantID and SectorChoice=t.SectorChoice group by SectorChoice
	) 'hotproject',

	(
		Select Sum(ApproxContractValue) ApproxContractValue  from(
			Select round(ISNULL(sum(ApproxContractValue),0),2) ApproxContractValue from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID
			and SectorChoice=t.SectorChoice group by SectorChoice
			union all
			Select round(sum(isnull(ApproxContractValue,0)),2) ApproxContractValue from Opportunity where  TenantID=@tenantID
			and SectorChoice=t.SectorChoice group by SectorChoice
	) t where 1=1) 'hotrevenue',

	(
		select count(1) from CRMProject where TenantID=@tenantID and Closed != 1 and  SectorChoice=t.SectorChoice group by SectorChoice
	) 'committedprojects',

	(
		select round(SUM(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed != 1 and  SectorChoice=t.SectorChoice group by SectorChoice
	) 'committedrevenue',

	(
		select round(sum(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed = 1 and SectorChoice=t.SectorChoice group by SectorChoice
	) 'pastrevenue',
	Round((sum(r.PctAllocation)/count(r.PctAllocation)),2) 'Utilization'
	from (
		Select TicketId, SectorChoice from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID
		union all
		Select TicketId ,SectorChoice from Opportunity where TenantID=@tenantID
	) t inner join ResourceAllocation r on r.TicketID=t.TicketId
	group by t.SectorChoice
	) anu where 1=1 
End;
Else
Begin
	Select * from (
	Select SectorChoice as Name ,count(distinct t.TicketId)ResourceCount,
	(
		Select count(TicketId) from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID and SectorChoice=t.SectorChoice
		and DivisionLookup=@Division group by SectorChoice
		union all
		Select count(TicketId) from Opportunity where  TenantID=@tenantID and SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
	) 'hotproject',

	(
		Select Sum(ApproxContractValue) ApproxContractValue  from(
			Select round(ISNULL(sum(ApproxContractValue),0),2) ApproxContractValue from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID
			and SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
			union all
			Select round(sum(isnull(ApproxContractValue,0)),2) ApproxContractValue from Opportunity where  TenantID=@tenantID
			and SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
	) t where 1=1) 'hotrevenue',

	(
		select count(1) from CRMProject where TenantID=@tenantID and Closed != 1 and  SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
	) 'committedprojects',

	(
		select round(SUM(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed != 1 and  SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
	) 'committedrevenue',

	(
		select round(sum(ApproxContractValue),2) from CRMProject where TenantID=@tenantID and Closed = 1 and SectorChoice=t.SectorChoice and DivisionLookup=@Division group by SectorChoice
	) 'pastrevenue',
	Round((sum(r.PctAllocation)/count(r.PctAllocation)),2) 'Utilization'
	from (
		Select TicketId, SectorChoice from CRMProject where StageStep <= @rewardedStage and TenantID=@tenantID and DivisionLookup=@Division
		union all
		Select TicketId ,SectorChoice from Opportunity where TenantID=@tenantID and DivisionLookup=@Division
	) t inner join ResourceAllocation r on r.TicketID=t.TicketId
	group by t.SectorChoice
	) anu where 1=1 
End;

		

End;
