
<div class="container d-flex svg-container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div class="col-md-12 workFlowImg-wrap">
        <div id="ai_5b5e3ad2d2353" class="adioma-embed-infographic" style="text-align:center;height:100%;">
            <h3 class="tenant-regTitle">New Tenant Registration</h3>
            <button id="userTenantInfoImg" class="tenant-regBtn"> Register ITSM  </button>
        </div>
    </div>
</div>
   
