
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tenant Login</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Info</h3>
    </div>
</body>
</html>
