@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var serviceID = ViewBag.ServiceID;
}

@*later need to form a bundle and incllude only required files*@
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.6/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.6/css/dx.light.css" />
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.1.6/css/dx-gantt.min.css" />
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn3.devexpress.com/jslib/22.1.6/js/dx.all.js"></script>

<style>


    .default {
        fill: rgb(132, 99, 118);
    }

    .in_progress {
        background: rgb(60, 129, 23);
    }
</style>
<div class="row">
    @Html.Partial("RegistrationSub")
</div>

@*<div id="statusLogin" class="applicationRegReq_statusbtn_wrap col-md-12 col-sm-12 col-xs-12">
        <div>

        </div>
    </div>*@

<script>

    window.parent.UgitOpenPopupDialog('/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=ServicesWizard&serviceID=@serviceID&requestPage=selfregistration&type=self','' , 'Service: Registration of Trial', 90, 90, 0,'%2flayouts%2fugovernit%2fdelegatecontrol.aspx');
         function openTicketDialog(path, params, titleVal, width, height, stopRefresh, returnUrl) {
             //set_cookie('UseManageStateCookies', 'true', null, "<SPContext.Current.Web.ServerRelativeUrl %>");
             window.parent.parent.UgitOpenPopupDialog(path, params, titleVal, width, height, stopRefresh, returnUrl);

         }

         $('#userTenantInfoImg, #userTenantInfo').click(function () {
             window.parent.UgitOpenPopupDialog('/Layouts/uGovernIT/uGovernITConfiguration.aspx?control=ServicesWizard&serviceID=@serviceID&requestPage=selfregistration&type=self', '', 'Service: Registration of Trial', 90, 90, 0,'%2flayouts%2fugovernit%2fdelegatecontrol.aspx');
         });

</script>




